
:root {
    --yellow: #ffc800cc;
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    font-size: 25px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  }
  #container {
      display: grid;      
  }
/*the above taken from Wes Bos' CSS Grid tutorials */

#wrapper {
    display: grid; 
    margin: auto;   
    width: 500px;
    height: 500px;
    border: solid 1px var(grey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
}
.button {
    margin: auto;
    display: grid;
    width: 100px;
    height: auto;
    margin-bottom: 5px;
    border: solid 1px rgba(11, 73, 167, .2);
    box-shadow: 0 4px 4px 1px rgba(11, 73, 167, 0.2);
    background-color: powderblue;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.button:hover {
    opacity: .7;
}

.header {
    margin: auto;
}

.slideBar {
    margin: auto;
    margin-bottom: 5px;
    display: grid;
    width: 200px;
    padding-top: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 100%;
    border-radius: 9px;
    background-color: var(--yellow);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.squares {
    margin: auto;
    margin-bottom: 10px;
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--black);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--black);
    cursor: pointer;
}